*{
    margin: 0px;
    padding: 0px;
}

.block{
    height: 200px;
    width: 200px;
    background-color: blue;
}

@media (max-width: 300px) {
    .block{
        background-color: green;
    }
  }

  @media (min-width: 300px) and (max-width:400px){
    .block{
        background-color: pink;
    }
  }

  @media(min-width:400px) and (max-width:600px) {
    .block{
        background-color: red;
    }
  }


