* {
    margin: 0px;
    padding: 0px;
}

.navbar{
    height: 30px;
    background-color: rgb(18, 102, 74);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
}

a{
    text-decoration: none;
    color: red;
}

.outer{
    position: relative;
    top: 40px;
    height : 400px;
    width: 400px;
    background-color: aqua;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

.inner{
    height: 100px;
    width: 100px;
    background-color: blueviolet;
}

